# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/

# Build artifacts
/build
/dist

# Cache
.cache

# Environment variables
.env

# Local configuration
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
